*{
    padding: 0px;
    margin: 0px;
}
.wrapper {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}
.contai {
    width: 85%;
    margin: 0 auto;
}
li {
    list-style: none;
    color: white;
}
i {
    color: white;
}
.header {
    width: 100%;
    height: auto;
    background-color: #333333;
    position: relative;
}
.header > div {
    padding: 15px 0;
} 
/* ============================= onscroll ======================= */
html {
    scroll-behavior: smooth;
}
.header .onscroll {
    display: none;
    background-color: #333333;
}
.onscroll.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    animation-name: navbar;
    animation-duration: 2s;
    z-index: 10000;
}
  @keyframes navbar{
      0%{opacity: 0;}
     100%{opacity: 1;}
}
/* //===================================== respon header=================================// */
.header .main-bar.respon,
.header .menu_respon{
    display: none;
}


/* ===========================================top-bar====================================== */
.header .top-bar,
.header .main-bar .contai {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .top-bar .nav-left,
.header .top-bar .nav-left li {
    display: flex;
}
.header .top-bar .nav-left :nth-child(2) {
    margin-left: 10px;
}
.header .top-bar .nav-left li p {
    font-size: 12px;
}
.header .top-bar .nav-left li i {
    margin-right: 5px; 
}
.header .top-bar .nav-right li :nth-child(2) {
    margin:0 5px;
}
.header .top-bar .nav-right li i {
    font-size: 12px;
}
/* ===================================================== main-bar ================================= */
.header .main-bar {
    border-bottom: 0.5px solid #424242;
    border-top: 0.5px solid #424242;
    width: 100%;
}
.header .main-bar img {
    width: 15%;
}
.search_prd {
    width: 40%;
    display: flex;
    justify-content: center;
}
.search_prd input {
    width: 80%;
    padding: 10px 0 10px 10px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: none;
}
.search_prd button {
    background-color: #c89979;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.7s ease;
}
.search_prd button:hover {
    background-color: #a07a61;
    cursor: pointer;
}
.search_prd button i {
    padding: 10px 25px;
    font-size:16px;
}
.header .main-bar .cart i {
    font-size: 25px;
    font-weight: lighter;
}
.header .main-bar .cart :nth-child(2){
    margin-left: 10px;
}
/* ============================================= menu-bar ==================================== */
.header .menu-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menu-bar ul li {
    margin: 0 25px;
    border-bottom: 1px solid transparent;
    transition: all 0.7s ease;
}
.header .menu-bar ul li:hover {
    border-bottom: 1px solid #c89979;
    color:#c89979 ;
    cursor: pointer;
}
/* ===========================================end-header========================================== */
/* .slide {
    width: 100%;
} */
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}
.box-slide {
    width: 100%;
    position: relative;
    height: auto;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    font-size: 60px;
    position: absolute;
    top: 40%;
    color: white;
    outline: none;
    background-color: transparent!important;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 15px;
}
.owl-carousel .owl-nav button.owl-next {
    right: 15px;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover,
.prd .owl-carousel .owl-nav button.owl-next:hover,
.prd .owl-carousel .owl-nav button.owl-prev:hover {
    color: #c89979;
    transition: all 0.7s ease;
}
.box-slide .intro_slide {
    width: 40%;
    position: absolute;
    top:35%;
    color: white;
    animation: display 4s;
    opacity: 0;
    animation-iteration-count:infinite;
}
@keyframes display {
    0%{
        left: 180px;
        opacity: 0;
    }
    100%{
        left:150px;
        opacity: 1;
    }
}
.box-slide .intro_slide h2{
    margin: 20px 0 ;
    font-size: 50px;
    font-weight:bold;
}
.box-slide .intro_slide button {
    margin: 20px 0 ;
    background-color:transparent;
    outline: none;
    border: 2px solid white;
    color: white;
    padding: 10px 35px ;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.7s ease;
}
.box-slide .intro_slide button:hover {
    background-color: #c89979;
    border: 2px solid#c89979;
    cursor: pointer;
}
.trend {
    margin: 60px auto;
}
.trend .active_trend  img {
    width: 100%;
    height: 250px;
    transition: all 0.9s ease;
}
.trend .active_trend {
    overflow: hidden;
    width: 100%;
    height: 250px;
    position: relative;
}
.trend .active_trend:hover img {
    transform:scale(1.1);
    cursor: pointer;
}
.intro_trend {
    position: absolute;
    top: 30%;
    left: 20px;
    color: white;

}
.intro_trend:after{
    content: '';
    position: absolute;
    width:50px;
    height: 2px;
    background-color: #c89979;
    top: 40%;
}
.intro_trend p,
.intro_banner p {
    font-size: 20px;
}
.intro_banner p  {
    width:50%; 
}
.intro_trend h2,
.intro_banner h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}
.prd .title-prd {
 font-size: 25px;
 margin-bottom: 20px;
}
.box_prd {
    border: 1px solid #ececec;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}
.box_prd .img-prd {
    height: 300px;
    border-bottom: 1px solid #ececec;
}
.box_prd img {
    width: 100%;
    height: auto;
}
.box_prd .info_prd {
    margin: 15px auto;
    line-height: 30px;
    text-align: center;
}
.box_prd .info_prd h2 {
    font-size: 17px;
}
.box_prd .info_prd h3 {
    font-size: 15px;
    font-weight: bold;
    color: #c89979;
}
.box_prd .info_prd h3 span {
    text-decoration: underline #c89979;
}
/* =============== chung cho các button ========== */
.btn {
    background-color: #c89979;
    outline: none;
    border: none;
    transition: all 0.7s ease;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.btn:hover{
    background-color: #a07a61;
    cursor: pointer;  
}

.prd .owl-carousel .owl-nav button.owl-prev {
    left: 10;
    color: black;
}
.prd .owl-carousel .owl-nav button.owl-next {
    right:10;
    color: black;
}
.intro_banner {
    position: absolute;
    top: 30%;
    left: 20px;
    color: white;
}
.intro_banner.banner1 {
    top:0;
}

.prd .title {
    display: flex;  
}
.prd .title :nth-child(2) {
    margin: 0 25px;
}
.prd .list_prd {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 30px;
    column-gap: 30px;
}
.prd .list_prd .box_prd .img-prd {
    height: 250px;
}
#popular_prd {
    color: #c89979;
}
#popular_prd:hover {
    cursor: pointer;
}
#seal_prd:hover,
#new_prd:hover {
    color:#c89979;
    cursor: pointer;
    transition: all 0.5s ease;
}

.blogs {
    margin: 80px 0;
}
.blog {
    border-bottom: 1px solid #575555;
    padding-bottom: 80px;
}
.blogs img {
    width: 100%;
    height: 220px;
}
.text_blogs h3 {
    margin: 20px 0 ;
    font-size: 17px;
}
.text_blogs p {
    font-size: 13px;
    color: #575555;
} 
.email  {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.email input {
    background-color: #f1f1f1;
}
.email button {
    color: white;
    padding: 10px ;
}
.footer {
    background-color:#353535;
    color: white;
    padding-top: 80px;
}
.footer ul li {
    line-height: 30px;
    display: flex;

}
.footer ul li p {
    font-size: 14px;
}
.footer h3 {
    margin-bottom: 25px;
}
.footer .contact-info ul li i {
    margin-right: 10px;
}
.footer .Uploat img {
    margin: 10px 0;
}
.clearfix {
    border-top: 1px solid whitesmoke;
}
.clearfix .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.clearfix p img {
    width: 5%;
}
